body{
	font-family: 'Lato', sans-serif;
}

#rmv{
	width: 25px;
	height: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#rmv:hover{
	cursor: pointer;
}

.dropzone{
	margin-top: 15px;
}

.tab{
	margin-left: 40px;
}

.dptMod{
	margin-bottom: 50px;
}

.err{
	color: red;
	transition: 0.2s;
	font-weight: bold;
}

.success{
	color: green;
	transition: 0.2s;
	font-weight: bold;
}