*{
	/* A universal CSS reset */
	margin:0;
	padding:0;
}

body{
	font-size:14px;

	/* CSS3 Radial Gradients */
	/*background-image:-moz-radial-gradient(center -100px 45deg, circle farthest-corner, #444 150px, #111 300px);
	background-image:-webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#ffdab9), to(#4c4137));*/

	font-family:Arial, Helvetica, sans-serif;
}

#navigationMenu li{
	list-style:none;
	height:39px;
	padding:2px;
	width:40px;
}

#navigationMenu span{
	/* Container properties */
	width:0;
	left:38px;
	padding:0;
	position:absolute;
	overflow:hidden;
	background-color:#ffdab9;

	/* Text properties */
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:39px;

	/* CSS3 Transition: */
	-webkit-transition: 0.25s;

	/* Future proofing (these do not work yet): */
	-moz-transition: 0.25s;
	transition: 0.25s;
}

#navigationMenu a{
	/* The background sprite: */
	/*background:url('img/navigation.jpg') no-repeat;*/
	top:50px;
	height:39px;
	width:38px;
	display:block;
	position:relative;
}

.home {
	background-image : url(../images/home.svg);
}

.about{
	background-image : url(../images/info.svg);
}

.contact {
	background-image : url(../images/users.svg);
}
.marq {
	background-image : url(../images/list.svg);
}
.admin {
	background-image : url(../images/tool.svg);
}

/* General hover styles */

#navigationMenu a:hover span{ width:auto; padding:0 20px;overflow:visible; }
#navigationMenu a:hover{
	text-decoration:none;

	/* CSS outer glow with the box-shadow property */
	-moz-box-shadow:0 0 5px #af1e83;
	-webkit-box-shadow:0 0 5px #af1e83;
	box-shadow:0 0 5px #af1e83;
}

/* Green Button*/
#navigationMenu .home {	background-position:0 0;}
#navigationMenu .home:hover {	background-position:0 -39px;}
#navigationMenu .home span{
	background-color:#a0db8e;
	color:#3d4f0c;
	text-shadow:1px 1px 0 #99bf31;
}

/* Blue Button */

#navigationMenu .about { background-position:-38px 0;}
#navigationMenu .about:hover { background-position:-38px -39px;}
#navigationMenu .about span{
	background-color:#1e8bb4;
	color:#223a44;
	text-shadow:1px 1px 0 #44a8d0;
}

/* pink Button */

#navigationMenu .contact { background-position:-152px 0;}
#navigationMenu .contact:hover { background-position:-152px -39px;}
#navigationMenu .contact span{
	background-color:#f2718b;
	color:#ffdab9;
	text-shadow:1px 1px 0 #d244a6;
}
/* purple Button*/
#navigationMenu .marq a {background-color:#1e8bb4;}
#navigationMenu .marq {	background-position:0 0;}
#navigationMenu .marq:hover {	background-position:0 -39px;}
#navigationMenu .marq span{
	background-color:#8040A4;
	color:#0C032A;
	text-shadow:1px 1px 0 #8265A6;
}
/* Beige Button*/
#navigationMenu .admin a {background-color:#1e8bb4;}
#navigationMenu .admin {background-position:0 0;}
#navigationMenu .admin:hover {	background-position:0 -39px;}
#navigationMenu .admin span{
	background-color:#EC8816;
	color:#3d4f0c;
	text-shadow:1px 1px 0 #EAB373;
}
div#menu{
	position:absolute;
	top:10px;
	left:10px;
	background-image:none;
}

/*Style menu département*/

.imgLink{
	/*
	font-size: 1em;
	position: relative;
	top: -0.2em;
	display: inline-block;
	width: 100%;
	padding: 0.5em 0.5em 0.8em;
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align: left;
	color: rgb(7, 16, 15);
	font-size: 1.2em;
	background: #D0D0D0 ;
	border: none;
	border-bottom: 4px solid rgb(221, 221, 221);
	letter-spacing:0.6px;
	white-space:nowrap;
	text-decoration:none;
	*/
	width : 40%;
	display : inline;
}

/*style image menu */

.imgLink img{
	width: 200px;
	margin : 10px;
}

.imgLinks{
	margin: 1em;
	max-width: 500px;
}

#dptsOverview{
	position: absolute;
	top:0px;
	left: 50px;
	width: 450px;
	height: 100%;
	background-color: #F5F5F5;
	/*display:none;*/
}

#aboutOverview{
	position: absolute;
	top:0px;
	left: 50px;
	width: 450px;
	height: 100%;
	background-color: #F5F5F5;
	/*display:none;*/
}

#contactOverview{
	position: absolute;
	top:0px;
	left: 50px;
	width: 450px;
	height: 100%;
	background-color: #F5F5F5;
	/*display:none;*/
}

#close{
	float:right;
	margin: 30px;
}

#close:hover{
	cursor: pointer;
}

h2{
	padding: 30px;
	display: inline-block;
	font-size: 20pt;
	font-weight: bold;
}

hr{
	margin-bottom: 20px;
}

.selectDpt{
	padding: 10px 30px;
	display: block;
	font-size: 13pt;
}

.selectDpt:hover{
	cursor: pointer;
	background-color: #31aaaa;
}

#searchDpt{
	margin: 10px 30px;
	color:  #5f5f5f;
	box-sizing: border-box;
	width: 240px;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding: 12px;
	border: 1px solid #dbdbdb;

}
